<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.courseplatform.dao.TeacherCourseMapper">
    <delete id="deleteTeacherAccount">
        DELETE FROM teacher_course
        WHERE course_id = #{courseId} AND teacher_account = #{teacherAccount}
    </delete>

    <!-- 要对应到所有属性 才能使用-->
    <!--<resultMap id="users" type="User">
    <result property="userName" column="user_name"/>
    </resultMap>-->

    <!-- 这里namespace必须是UserMapper接口的路径，不然要运行的时候要报错 "is not known to the MapperRegistry" -->
    <select id="selectByTeacherAccount" resultMap="Course">
        SELECT c.*
        FROM teacher_course AS tc LEFT JOIN course AS c ON c.course_id = tc.course_id
        WHERE #{teacherAccount} = tc.teacher_account
    </select>

    <resultMap id="Course" type="com.courseplatform.bean.Course">
        <result column="course_id" property="courseId"/>
        <result column="course_name" property="courseName"/>
        <result column="course_introduction" property="courseIntroduction"/>
        <result column="course_syllabus" property="courseSyllabus"/>
        <result column="time" property="time"/>
    </resultMap>

</mapper>