<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.courseplatform.dao.UserMapper">

    <!-- 要对应到所有属性 才能使用-->
    <!--<resultMap id="users" type="User">
    <result property="userName" column="user_name"/>
    </resultMap>-->

    <!-- 这里namespace必须是UserMapper接口的路径，不然要运行的时候要报错 "is not known to the MapperRegistry" -->

    <select id="selectById" resultType="com.courseplatform.bean.User">
        SELECT *
        FROM user
        WHERE user.account = #{acount}
    </select>

</mapper>